extends layout.pug
block content
  router-view
block scripts

  script(src="/basket-hot/static/js/containers/configComponent.js")
  script(src="/basket-hot/static/js/containers/viewerComponent.js")
  script(src="/basket-hot/static/js/containers/homeComponent.js")
  script(src="/basket-hot/static/js/containers/bookBasket.js")
  script(src="/basket-hot/static/js/containers/clientsList.js")
  script(src="/basket-hot/static/js/containers/integrationPage.js")
  script(src="/basket-hot/static/js/containers/basketModels.js")

  script(src="/basket-hot/static/js/components/navComponent.js")
  script(src="/basket-hot/static/js/components/backComponent.js")
  script(src="/basket-hot/static/js/components/basketListComponent.js")
  script(src="/basket-hot/static/js/components/addBasket.js")
  script(src="/basket-hot/static/js/components/modalWindow.js")
  script(src="/basket-hot/static/js/components/tableComponent.js")
  script(src="/basket-hot/static/js/components/toggleComponent.js")
  script(src="/basket-hot/static/js/components/textareaCmp.js")
  script(src="/basket-hot/static/js/components/buttonCmp.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js")
  script(src="/static/js/moment.js")

  script(src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js")

  <script  type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js"></script>
  <script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/theme-clouds.js"></script>
  <script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/mode-javascript.js"></script>

  script(src="/basket-hot/static/app.js")

