extends layout.pug
block content
    router-view
block scripts
    script(src="/basket-hot/static/backComponent.js")
    script(src="/basket-hot/static/configComponent.js")
    script(src="/basket-hot/static/viewerComponent.js")
    script(src="/basket-hot/static/navComponent.js")
    script(src="/basket-hot/static/homeComponent.js")
    script(src="/basket-hot/static/app.js")